body {
    background-color: rgb(179, 177, 177);
    color: black;
    font-family: sans-serif;

}
h1 {
    color: black;
    text-align: center;

}
h4 {
    color: black;
    font-size: 18px;
}
img {
width: 20%;
}